In [ ]:
# default_exp core

# Core

> This module contains core classes and functions to be reused by other modules

In [ ]:
#export
from typing import List, NamedTuple, Tuple
from dataclasses import dataclass
from pathlib import Path
import logging

import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#export
# constants
RANDOM_SEED = 31

logger = logging.getLogger(__name__)

In [ ]:
#export
class Recommendation(NamedTuple):
    """
    Represents a recommendation for a movie
    """
    movie_id: int
    score: float

In [ ]:
#export
@dataclass
class Movie:
    """
    Simple dataclass to hold the content for a Movie 
    """
    movie_id: int
    title: str
    genres: str

In [ ]:
#export
class MovieRepository:
    def __init__(
        self,
        movies_df: pd.DataFrame):
        self.movies_df = movies_df
        self.movie_id_dict = movies_df.set_index("movieId").to_dict('index')
    
    def find_by_movie_id(self, movie_id: int) -> Movie:
        movie_row = self.movie_id_dict[movie_id]
        return Movie(
            movie_id=movie_id,
            title=movie_row['title'],
            genres=movie_row['genres']
        )

In [ ]:
# export
def print_recommendations(movie_repository: MovieRepository, seed_id: int, recommendations: List[Recommendation]):
    seed = movie_repository.find_by_movie_id(seed_id)
    print(seed)
    print("> Recommendations:")
    for rec in recommendations:
        movie = movie_repository.find_by_movie_id(rec.movie_id)
        print(">>", movie, f"score={rec.score}")

In [ ]:
movies_df = pd.read_csv('data/ml-latest-small/movies.csv')
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
movie_repository = MovieRepository(
    movies_df=movies_df
)

movie_repository.find_by_movie_id(1)

Movie(movie_id=1, title='Toy Story (1995)', genres='Adventure|Animation|Children|Comedy|Fantasy')

In [ ]:
print_recommendations(movie_repository, seed_id=1210, recommendations=[Recommendation(movie_id=10, score=0.1), Recommendation(movie_id=1, score=0.2)])

Movie(movie_id=1210, title='Star Wars: Episode VI - Return of the Jedi (1983)', genres='Action|Adventure|Sci-Fi')
> Recommendations:
>> Movie(movie_id=10, title='GoldenEye (1995)', genres='Action|Adventure|Thriller') score=0.1
>> Movie(movie_id=1, title='Toy Story (1995)', genres='Adventure|Animation|Children|Comedy|Fantasy') score=0.2